@model CRED.Models.Employee

@{
    ViewBag.Title = "Edit Employee";
}

<h2>Edit Employee</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.EmployeeID)

    <div class="form-group">
        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Age, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.City, new { @class = "control-label" })
        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
        @Html.DropDownListFor(model => model.Gender, new SelectList(new[]
        {
            new SelectListItem { Text = "Male", Value = "Male" },
            new SelectListItem { Text = "Female", Value = "Female" }
        }, "Value", "Text"), "Select Gender", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
    <style>
        body {
            background-color: black;
            color: white;
        }

        .form-group {
            background-color: grey;
            padding: 20px;
            border-radius: 5px;
        }
    </style>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
